<form action="/tasks/group"style="background-image:url({{avatar}})">
    <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-content">
          <div class="card" id="list1" style="border-radius: .75rem;
           background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square"></i>
                <u>{{username}} Tasks:</u>
              </p>
  
              {{!-- <div class="pb-2">
                <div class="card-content">
                  <div class="card-body">
                    <div class="d-flex flex-row align-items-center">
                      <input type="text" class="form-control form-control-lg" 
                      id="exampleFormControlInput1" name="gid"
                        placeholder="Add new ..."> 
                      <a href="#!" style="padding-left: 20px;" data-mdb-toggle="tooltip" title="Set due date">
                        <i class="fas fa-calendar-alt fa-lg me-3"></i></a>
                       <div style="padding-left: 10px;">
                        <button type="sumbit" class="btn btn-primary">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> --}}
  
              <hr class="my-4">
              {{#each data}}
              <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                <li
                  class="li1 list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                
                </li>
                <li
                  class="li2 list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0">{{title}}</p>
                </li>
                <li
                  class="li2 list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0" id="condition" 
                        style="color:red">{{condition}}</p>
                </li>
                <li class=" li3 list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                  <div class="d-flex flex-row justify-content-end mb-1">
                    <a href="/tasks/edit/{{id}}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                    <a href="#!" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
                  </div>
                  <div class="text-end text-muted">
                    <a href="/tasks/delete/{{id}}" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                      <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{deadline}}</p>
                    </a>
                  </div>
                </li>
              </ul>
              {{/each}}
              <a href="/tasks/create" class="btn btn-primary">Add new task</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{{#if error}}
	<div class="w-100 text-center alert alert-danger">{{error}}</div>
{{/if}}
				
{{#if success}}
	<div class="w-100 text-center alert alert-success">{{success}}</div>
{{/if}}
</form>
{{!-- <form action="/tasks/group"style="background-image:url({{avatar}})">
    <div class="container">
        <div class="row">
        {{#each data}}
            <div class="col-md-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <h6 name="isFinished">{{isFinished}}</h6>
                        <h7 id="deadline"value="{{deadline}}">
                            {{deadline}}</h7>
                        <p class="card-title" id="condition" 
                        style="color:red">
                         {{condition}}
                        </p>
                        <p class="card-text">{{author}}</p>
                        <a href="/tasks/edit/{{id}}"class="btn btn-primary">Edit</a>
                        <a href="/tasks/delete/{{id}}"class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
{{#if error}}
	<div class="w-100 text-center alert alert-danger">{{error}}</div>
{{/if}}
				
{{#if success}}
	<div class="w-100 text-center alert alert-success">{{success}}</div>
{{/if}}
</form> --}}
