<form action="{{action}}"method="post">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Edit account info</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <i class='fas fa-user' style='font-size:50px'></i>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" value="{{data.name}}">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"value="{{data.password}}">
        <input type="color" name="headerColor" value="{{data.color}}">
        <input type="submit" class="fadeIn fourth" value="edit">
      </form>
  
    </div>
</div>
{{#if error}}
	<div class="w-100 text-center alert alert-danger">{{error}}</div>
{{/if}}
				
{{#if success}}
	<div class="w-100 text-center alert alert-success">{{success}}</div>
{{/if}}